<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
   </head>

   <body class="<%= page_classes %>">
     <div class="header">
       <div class="container-fluid">
         <div class="logo-container">
           <%= link_to image_tag("logo_alternate.png"), "spotify:app:shotify" %>
         </div>
       </div>
     </div>
     <div class="body">
       <div class="container-fluid">
         <%= yield %>
         <div style="clear:both"></div>
       </div>
     </div>
     <div class="footer">
       <div class="container-fluid">
         <div class="footer_inner">
           <%= link_to "shotify.us", "http://shotify.us", class: 'label label-inverse' %>
           <%= link_to "facebook", "http://facebook.com/shotify.us", class: 'label label-info' %>
           <%= link_to "twitter", "http://twitter.com/shotify", class: 'label label-success' %>
         </div>
       </div>
     </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35749913-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = 'http://www.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </body>
 </html>
